/* 
Rose red        #C33C54
Indigo dye      #254E70
Cerulean        #37718E
Non Photo blue  #8EE3EF
Celeste         #AEF3E7
*/

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 20px auto;
}

.main {
  max-width: 600px;
  background-color: #37718e;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
}

/*
This is an example of a css comment
*/

h1 {
  /* color: navy; */
  text-align: center;
}

h2 {
  /* color: rgb(0, 124, 31); */
  text-align: center;
}

header {
  background-color: #8ee3ef;
}

footer {
  background-color: #c33c54;
  text-align: center;
}

a {
  text-decoration: none;
}

footer a {
  background-color: chartreuse;
  text-align: center;
  color: darkviolet;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
}

footer a:hover {
  background-color: chocolate;
}

#contactInfo ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 10px;
}

#contactInfo ul a {
  display: block;
}
