body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0 auto;
  max-width: 1000px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

a {
  &:link {
    text-decoration: none;
    color: blue;
  }

  &:visited {
    text-decoration: none;
    color: blue;
  }
}

#ContactInfo {
  text-align: center;
}

#MainContent {
  background-color: #fafafa;
  padding: 20px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#NewGameButton {
  height: 50px;
  text-align: center;

  > #NewGame {
    padding: 15px;
  }
}

#CardUI {
  display: grid;
  gap: 5px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
  height: 650px;
}

#Dealer {
  grid-column: 3;
  grid-row: 1;
}

#Player {
  grid-column: 1;
  grid-row: 2;
}

#NPC1 {
  grid-column: 5;
  grid-row: 2;
}

#NPC2 {
  grid-column: 4;
  grid-row: 3;
}

#NPC3 {
  grid-column: 3;
  grid-row: 3;
}

#NPC4 {
  grid-column: 2;
  grid-row: 3;
}

#Message {
  grid-column: 3;
  grid-row: 2;
  text-align: center;
}

#Results {
  grid-column: 4;
  grid-row: 2;

  > #ResultList {
    list-style: none;
    padding: 0;
  }
}

#ActionButtons {
  text-align: center;

  > button {
    padding: 20px;
    width: 100px;
    margin: 0 20px;
    border-radius: 4px;
  }

  > #HitButton {
    background-color: green;
  }

  > #StandButton {
    background-color: red;
  }
}
