* {
  background-color: #f0f0f0;

  > * {
    background-color: inherit;
  }
}

a {
  &:link {
    text-decoration: none;
    color: blue;
  }

  &:visited {
    text-decoration: none;
    color: blue;
  }
}

body {
  max-width: 800px;
  margin: 20px auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#Container {
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  /* column-gap: 10px;
  row-gap: 10px; */
  background-color: lightgray;
  border-style: dashed;
  border-radius: 5px;

  > * {
    background-color: red;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
  }
}

#Box1 {
  background-color: blue;
}

#Box2 {
  background-color: red;
}

#Box3 {
  background-color: green;
}

#Box4 {
  background-color: orange;
}

#Box5 {
  background-color: pink;
}

#Box6 {
  grid-column: span 2;
  grid-row: span 2;
  background-color: yellow;
}

#Box7 {
  background-color: blueviolet;
}

#Box8 {
  background-color: aqua;
}

#Box9 {
  background-color: palegoldenrod;
}

#Box10 {
  background-color: indianred;
}

#Box11 {
  background-color: azure;
}

#Box12 {
  background-color: paleturquoise;
}

#Box13 {
  background-color: magenta;
}
