/* 
Rose red        #C33C54
Indigo dye      #254E70
Cerulean        #37718E
Non Photo blue  #8EE3EF
Celeste         #AEF3E7
*/

/* 
https://coolors.co/ccdbdc-9ad1d4-80ced7-007ea7-003249
Electric blue   #87F1FF
Lavender pink   #FFB2E6
Heliotrope      #D972FF
Veronica        #8447FF
Aquamarine      #8CFFDA
*/

/*
This is an example of a css comment
*/

/* https://unsplash.com/photos/M8qnX9fvpNs */

/* Global styling */

body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0 auto;
  max-width: 800px;
}

div {
  padding: 20px;
}

img {
  max-width: 760px;
}

a {
  &:link {
    text-decoration: none;
    color: blue;
  }

  &:visited {
    text-decoration: none;
    color: blue;
  }
}

#MainContent {
  background-color: #f0f0f0;
  /* padding: 30px; */
  border-radius: 10px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

/* Header Styling */

#LinkToMain {
  border-radius: 10px 10px 0px 0px;
  background-color: #d972ff;
}

/* Footer Styling */

#Links {
  border-radius: 0px 0px 10px 10px;
  background-color: #ffb2e6;
}

#contactInfo ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
  padding: 0px;
}

#contactInfo a {
  background-color: #8447ff;
  text-align: center;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;

  &:hover {
    background-color: purple;
  }

  &:link {
    color: white;
  }

  &:visited {
    color: white;
  }
}

/* Main Content */

h1 {
  text-align: center;
}

#About {
  background-color: #87f1ff;
}

#Pages {
  background-color: #87f1ff;

  > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    list-style-type: none;
    padding: 0;

    > li {
      text-align: center;
      background-color: #8cffda;
      padding: 12px;
      border-radius: 3px;
    }
  }
}
