/* https://unsplash.com/photos/dip9IIwUK6w */

html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100%;

  background-image: url("/public/images/thimo-pedersen-dip9IIwUK6w-unsplash.jpg");

  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
}

:is(table, th, td) {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid black;
}

#root {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);

  background-color: rgba(250, 250, 250, 0.8);
  padding: 30px;
  border-radius: 5px;
  margin: 0 auto;
  width: 1200px;
}

a {
  &:link {
    text-decoration: none;
    color: blue;
  }

  &:visited {
    text-decoration: none;
    color: blue;
  }
}

#Links {
  text-align: center;
}

#pokemonDisplay {
  border-style: solid;
  margin: 10px 0;

  > #pokemonTitle {
    grid-column: 1 / 6;

    > h3 {
      font-size: 25px;
      text-align: center;
      margin: 15px 0;
    }
  }

  > #pokemonImage {
    text-align: center;
  }

  > #pokemonType {
    text-align: center;
    padding: 2px;

    > table {
      > tbody {
        > tr {
          > td {
            > div {
              display: inline;
            }
          }
        }
      }
    }
  }

  > .infoTable {
    padding: 2px;

    > table {
      > tbody {
        text-align: center;
      }
    }
  }
}

#buttonContainer {
  text-align: center;
  > .changeFormButton {
    width: 30px;
  }
}

#mainInteraction {
  display: flex;
  gap: 10px;
  > div {
    flex: 1;
  }
}

form {
  text-align: center;
}
