body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  background-color: #f0f0f0;
  max-width: 800px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#MainContent {
  background-color: #fdfdfd;
  padding: 20px;
  border-radius: 5px;
}

a {
  &:link {
    text-decoration: none;
    color: blue;
  }

  &:visited {
    text-decoration: none;
    color: blue;
  }
}

h1 {
  text-align: center;
}

#MainInteraction {
  display: flex;
  justify-content: center;
  gap: 20px;

  > #InputBox {
    width: 60%;
    padding: 12px;
    border-radius: 5px;
  }

  > #AddButton {
    width: 20%;
    background-color: green;
    border-radius: 5px;
    color: white;
    padding: 12px;
  }
}

#AddedItems {
  list-style: none;
  padding: 0;

  > li {
    padding: 10px;
  }
}

.task {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;

  > .addedTask {
    padding: 12px;
    width: 60%;
  }

  > .deleteButton {
    width: 15%;
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 12px;
  }

  > .completeButton {
    width: 15%;
    background-color: blue;
    border-radius: 5px;
    color: white;
    padding: 12px;
  }
}

.completed {
  > .task {
    > .addedTask {
      text-decoration: line-through;
      color: gray;
    }
  }
}

#ContactInfo {
  text-align: center;
}
