body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: rgb(85, 85, 85);
  padding: 0;
}

a {
  &:link {
    text-decoration: none;
    color: rgb(85, 85, 85);
  }

  &:visited {
    text-decoration: none;
    color: rgb(85, 85, 85);
  }
}

#Navigate {
  text-align: center;
}

.NavigateItem {
  padding: 20px;
}

#ContactInfo {
  text-align: center;
}

#Links {
  > h1 {
    font-size: 20px;
    text-align: center;
  }
}
