/* 
https://coolors.co/73fbd3-44e5e7-59d2fe-4a8fe7-5c7aff 
Aquamarine          #73fbd3
Flourescent Cyan    #44e5e7
Vivid sky Blue      #59d2fe
Chefchaouen Blue    #4a8fe7
Blue (Crayola)      #5c7aff

Might need to change the last two text colours to white
*/

body {
  font-family: constantia;
  margin: 0px;
}

#MainContent {
  > div {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

h1 {
  text-align: center;
}

#AboutMe {
  background-color: #73fbd3;

  > div {
    max-width: 800px;
    margin: 0 auto;
  }
}

#Work {
  background-color: #44e5e7;

  > div {
    max-width: 800px;
    margin: 0 auto;

    > ul {
      padding: 0;

      > li {
        margin: 10px 0;
      }
    }
  }

  .workExperience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    > h3 {
      text-align: right;
    }

    > ul {
      grid-column: span 2;
      list-style: square;
    }
  }
}

#Education {
  background-color: #59d2fe;

  > div {
    max-width: 800px;
    margin: 0 auto;

    > ul {
      padding: 0;

      > li {
        margin: 10px 0;
      }
    }
  }
}

.education {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  > h3 {
    grid-column: span 2;
    text-align: right;
  }

  > h4 {
    grid-column: span 3;
  }

  > ul {
    grid-column: span 3;
    list-style: square;
  }
}

#Skills {
  background-color: #4a8fe7;

  > div {
    max-width: 800px;
    margin: 0 auto;
  }
}

#Additional {
  background-color: #5c7aff;

  > div {
    max-width: 800px;
    margin: 0 auto;
  }
}

#LinkToMain {
  background-color: coral;
  padding: 30px;
}

#Links {
  background-color: coral;
  padding: 30px;
}

#ContactInfo {
  text-align: center;

  > a {
    text-decoration: none;

    &:link {
      color: black;
    }

    &:visited {
      color: black;
    }
  }
}
