@font-face {
  font-family: "NotoSansMono";
  src: url("../font/NotoSansMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("../font/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  src: url("../font/NotoSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: NotoSans, sans-serif;
  margin: 0 auto;
  background-color: #f0f0f0;
  max-width: 800px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

a {
  &:link {
    text-decoration: none;
    color: blue;
  }

  &:visited {
    text-decoration: none;
    color: blue;
  }
}

#MainContent {
  background-color: #fdfdfd;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  font-family: NotoSerif;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-family: NotoSerif;
  text-align: center;
}

#Date {
  font-family: NotoSansMono;
  text-align: center;
  font-size: 40px;
}

#Time {
  font-family: NotoSansMono;
  text-align: center;
  font-size: 40px;
}

#ContactInfo {
  text-align: center;
}
