* {
  background-color: #f0f0f0;

  > * {
    background-color: inherit;
  }
}

a {
  &:link {
    text-decoration: none;
    color: blue;
  }

  &:visited {
    text-decoration: none;
    color: blue;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 800px;
}

h1 {
  text-align: center;
}

#Mouse,
#Keyboard {
  justify-content: center;
  display: flex;
  gap: 20px;
}
